{% extends "base/base.html" %}

{% block start %}

<div class="container mt-5 pt-5">
    <div class="row">

        {% for product in products %}
        <div class="col-md-3 mb-4">

            <figure class="card card-product-grid">

                <div class="img-wrap">
                    {% if product.images.all %}
                        <img src="{{ product.images.first.image.url }}" class="img-fluid">
                    {% else %}
                        <img src="" class="img-fluid">
                    {% endif %}
                </div>

                <figcaption class="info-wrap border-top">
                    <a href="" class="title">
                        <b>{{ product.name }}</b>
                    </a>
                    <div class="price mt-2">&#8377; {{ product.price }}</div>
                </figcaption>

            </figure>

        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}
